body {
    color: #5f5f5f;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.h1 a:hover,
.h2 a:hover,
.h3 a:hover,
.h4 a:hover,
.h5 a:hover,
.h6 a:hover {
    color: #800020;
}

input[type="radio"]:checked:before {
    background: #800020;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    border-color: #800020;
}

a {
    color: #5f5f5f;
}

a:hover,
a:focus,
.text-primary,
a.text-primary:hover,
.noo-page-heading .noo-page-breadcrumb ul li a:hover {
    color: #800020;
}

.bg-primary,
.btn-default:hover {
    background-color: #7851a9;
    border-color: #7851a9;
}

a.bg-primary:hover {
    background-color: #800020;
}

.bg-primary-overlay {
    background: rgba(254, 99, 103, 0.90);
}

.noo-menu li > a {
    color: ;
}

.noo-menu li > a:hover,
.noo-menu li > a:active,
.noo-menu li.current-menu-item > a {
    color: #800020;
}

body.page-menu-white .navbar:not(.navbar-fixed-top) .navbar-nav > li.current-menu-item > a,
body.page-menu-white .navbar:not(.navbar-fixed-top) .navbar-nav > li.current-menu-parent > a,
body.page-menu-white .navbar:not(.navbar-fixed-top) .navbar-nav > li.active > a,
body.page-menu-white .navbar:not(.navbar-fixed-top) .navbar-nav > li > a:hover,
.navbar-nav li > a:hover,
.navbar-nav li > a:focus,
.navbar-nav li:hover > a,
.navbar-nav li.sfHover > a,
.navbar-nav > li.current-menu-item > a,
.navbar-nav > li.current-menu-parent > a {
    color: #800020;
}

@media (min-width: 992px) {

    .navbar-fixed-top.navbar-shrink .navbar-nav > li > a:hover,
    .navbar-fixed-top.navbar-shrink .navbar-nav > li.current-menu-item > a,
    .navbar-fixed-top.navbar-shrink .navbar-nav > li.current-menu-parent > a,
    .navbar-fixed-top.navbar-shrink .navbar-nav > li.active > a {
        color: #800020;
    }

    ;
}

.navbar-fixed-top .navbar-brand,
body.page-menu-center-vertical:not(.boxed-layout) .navbar.navbar-default:not(.navbar-fixed-top) .navbar-brand,
.navbar-nav > li > a:before {
    background: ;
}

@media (min-width: 992px) {
    .navbar-default .navbar-nav.sf-menu > li > ul.sub-menu {
        background: #800020;
    }

    .navbar-default .navbar-nav.sf-menu > li > ul.sub-menu:before,
    .navbar-nav.sf-menu > li.align-center > ul.sub-menu:before,
    .navbar-nav.sf-menu > li.align-right > ul.sub-menu:before,
    .navbar-nav.sf-menu > li.align-left > ul.sub-menu:before,
    .navbar-nav.sf-menu > li.full-width.sfHover > a:before {
        border-bottom-color: #800020;
    }

    ;
}

.navbar-nav ul.sub-menu li > a:hover,
.navbar-nav ul.sub-menu li > a:focus,
.navbar-nav ul.sub-menu li:hover > a,
.navbar-nav ul.sub-menu li.sfHover > a,
.navbar-nav ul.sub-menu li.current-menu-item > a,
.navbar-nav .cat-mega-content .cat-mega-extra .cat-mega-extra-item h3 a:hover,
.navbar-nav .cat-mega-content .cat-mega-extra .cat-mega-extra-item h3 a:focus {
    background: #800020;
}

.hentry.format-quote a:hover,
.hentry.format-link a:hover,
.navbar-right .member-links a:hover {
    color: #800020 !important;
}

.loadmore-loading span,
    {
    background: #800020;
}

.noo-social a:hover,
.single .hentry .noo-social a:hover,
.single .hentry .noo-social a:focus {
    background: #7851a9;
    border-color: #7851a9;
}

.noo_rating_point,
.button-social.box,
.noo-recent-news .loop-item-featured a:hover:before {
    background: rgba(254, 99, 103, 0.50);
}

.rating_item .rating-slider-range .ui-slider-range {
    background: #800020;
}

h2.comments-title span,
.comment-reply-link:hover,
.comment-author a:hover,
.comments-title span {
    color: #800020;
}

.ispostauthor {
    background: #800020;
}

.noo-slider .slider-control {
    background: #800020;
}

.standard-blog .rated_count {
    background: rgba(254, 99, 103, 0.50);
}

.read-more:hover,
.read-more:focus {
    color: #800020;
}

.content-meta > span > a:hover,
.hentry.format-quote a:hover,
.hentry.format-link a:hover,
.single .hentry.format-quote .content-title:hover,
.single .hentry.format-link .content-title:hover,
.single .hentry.format-quote a:hover,
.single .hentry.format-link a:hover,
.sticky h2.content-title:before {
    color: #800020;
}

.content-thumb:before {
    background: #800020;
}

.entry-tags,
.entry-tags a,
.author-connect .connect-button {
    color: #800020;
}

.post-navigation .prev-post h4:hover,
.post-navigation .next-post h4:hover,
.post-navigation .prev-post h4:focus,
.post-navigation .next-post h4:focus,
.post-navigation .prev-post h4:hover a,
.post-navigation .next-post h4:hover a,
.post-navigation .prev-post h4:focus a,
.post-navigation .next-post h4:focus a {
    color: #800020;
}

.pagination .page-numbers.current,
.pagination a.page-numbers:hover {
    border-color: #fe6367;
    background: #fe6367;
}

.content-social a:hover {
    color: #800020;
    border-color: #800020;
}

#loader,
#loader:before,
#loader:after {
    border-top-color: #800020;
}

@keyframes preload_audio_wave {
    0% {
        height: 5px;
        transform: translateY(0px);
        background: #800020;
    }

    25% {
        height: 30px;
        transform: translateY(15px);
        background: #800020;
    }

    50% {
        height: 5px;
        transform: translateY(0px);
        background: #fe6367;
    }

    100% {
        height: 5px;
        transform: translateY(0px);
        background: #800020;
    }

    ;
}

@-webkit-keyframes preload_audio_wave {
    0% {
        height: 5px;
        -webkit-transform: translateY(0px);
        background: #800020;
    }

    25% {
        height: 30px;
        -webkit-transform: translateY(15px);
        background: #800020;
    }

    50% {
        height: 5px;
        -webkit-transform: translateY(0px);
        background: #800020;
    }

    100% {
        height: 5px;
        -webkit-transform: translateY(0px);
        background: #800020;
    }

    ;
}

@-moz-keyframes preload_audio_wave {
    0% {
        height: 5px;
        -moz-transform: translateY(0px);
        background: #800020;
    }

    25% {
        height: 30px;
        -moz-transform: translateY(15px);
        background: #800020;
    }

    50% {
        height: 5px;
        -moz-transform: translateY(0px);
        background: #800020;
    }

    100% {
        height: 5px;
        -moz-transform: translateY(0px);
        background: #800020;
    }

    ;
}

@keyframes preload_audio_wave {
    0% {
        height: 5px;
        transform: translateY(0px);
        background: #800020;
    }

    25% {
        height: 30px;
        transform: translateY(15px);
        background: #800020;
    }

    50% {
        height: 5px;
        transform: translateY(0px);
        background: #800020;
    }

    100% {
        height: 5px;
        transform: translateY(0px);
        background: #800020;
    }

    ;
}

.wigetized .widget ul li a:hover,
.wigetized .widget ol li a:focus,
.wigetized .widget ul li a:hover,
.wigetized .widget ol li a:focus {
    color: #800020;
}

.btn-primary,
.form-submit,
.form-submit input[type="submit"],
.widget_newsletterwidget .newsletter-submit {
    background-color: #7851a9;
    border-color: #7851a9;
}

.btn-darker:hover,
.btn-darker:focus,
.button:hover,
.button:focus,
.form-submit input[type="submit"]:hover,
.form-submit input[type="submit"]:focus {
    border-color: #800020;
    background: #800020;
}

.btn-primary:hover,
.btn-primary:focus,
.widget_newsletterwidget .newsletter-submit:hover,
.widget_newsletterwidget .newsletter-submit:focus {
    background: #800020;
}

.noo-post-navi .noo_slider_prev:hover,
.noo-post-navi .noo_slider_next:hover,
.noo-post-navi .noo_slider_prev:focus,
.noo-post-navi .noo_slider_next:focus {
    background-color: #800020;
}

.pagination .page-numbers.current {
    background-color: #800020;
}

.btn-primary.pressable {
    -webkit-box-shadow: 0 4px 0 0 #fe171d, 0 4px 9px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 0 4px 0 0 #fe171d, 0 4px 9px rgba(0, 0, 0, 0.75) !important;
}

.btn-link,
.btn.btn-white:hover,
.form-submit.btn-white:hover,
.widget_newsletterwidget .newsletter-submit.btn-white:hover {
    color: #5f5f5f;
}

.btn-link:hover,
.btn-link:focus {
    color: #800020;
}

.footer-top .noo-social a:hover {
    border-color: #800020;
    background: #800020;
}

.contact-register .contact-register-header {
    background: #800020;
}

.contact-register .contact-register-header .arrow:after {
    border-top: 80px solid #800020;
}

.custom-title,
.custom-title-home,
.custom-title-home-center,
.noo-sidebar .widget-title,
.noo-page-heading .page-title,
.single-noo_class .related-class .related-title,
.noo-event .noo_event_map .event-info h5,
.noo-event .noo_event_map .noo-pricing-table .event-info h5,
.trainer-content .content .content-title {
    color: #800020;
}

.custom-title:before,
.custom-title-home:before,
.custom-title-home-center:before,
.noo-sidebar .widget-title:before,
.noo-page-heading .page-title:before,
.single-noo_class .related-class .related-title:before,
.noo-event .noo_event_map .event-info h5:before,
.noo-event .noo_event_map .noo-pricing-table .event-info h5:before,
.trainer-content .content .content-title:before {
    background: #800020;
}

.noo-sc-testimonial .testimonial-quote ul li .name {
    color: #800020;
}

.noo-sc-testimonial .testimonial-author ul li:after {
    background: #800020;
}

.our-services > div:hover .noo-icon,
.videos.posts-loop .loop-thumb .loop-thumb-content .carousel-inner .item > a .icon,
.videos.posts-loop .video .loop-item-wrap .loop-item-content .icon,
.posts-loop.slider .loop-thumb-content .carousel-indicators li.active,
.noo-trainers .hentry .trainer-item-wrap .content-wrap .trainer-category:before,
.noo-trainers .hentry .trainer-item-wrap:hover,
.noo-recent-news .item-featured .icon,
.noo-recent-class .noo-rn-content.info_overlay .item-wrap:hover .item-title,
.noo-pricing-table .noo-pricing-column.featured .pricing-content .pricing-header {
    background: #7851a9;
}

.noo-pricing-table .noo-pricing-column.featured .pricing-content .pricing-header .arrow:after {
    border-top-color: #800020;
}

.noo-pricing-table .noo-pricing-column .pricing-content .pricing-footer .btn:hover,
.noo-pricing-table .noo-pricing-column .pricing-content .pricing-footer .btn:focus,
.noo-pricing-table .noo-pricing-column .pricing-content .pricing-footer .widget_newsletterwidget .newsletter-submit:hover,
.noo-pricing-table .noo-pricing-column .pricing-content .pricing-footer .widget_newsletterwidget .newsletter-submit:focus,
.noo-pricing-table .noo-pricing-column.featured .pricing-content .pricing-footer .btn,
.noo-pricing-table .noo-pricing-column.featured .pricing-content .pricing-footer .widget_newsletterwidget .newsletter-submit {
    background: #800020;
}

.videos.posts-loop .loop-thumb .loop-thumb-content .carousel-inner .item > a,
.testimonial-content:before,
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product .cart-product-details .cart-product-title a:hover,
.noo-recent-news .item-title a:hover,
.noo-recent-news .read-more:hover,
.noo-recent-news .read-more:focus {
    color: #800020;
}

.recent-tweets li a {
    color: #800020 !important;
}

.custom-footer .footer-social a:hover {
    background: #800020;
    border-color: #800020;
}

.posts-loop .posts-loop-title a.active,
.posts-loop .loop-item-category a,
input[type="checkbox"]:checked:before {
    color: #800020;
}

.noo-class-schedule .class-schedule-filter ul li a.selected,
.noo-class-schedule .class-schedule-filter ul li a:hover,
.noo-class-schedule .class-schedule-filter ul li a.active {
    background: #800020;
    border-color: #800020;
}

.noo-class-schedule .fc-toolbar .fc-left .fc-state-default:hover,
.noo-class-schedule .fc-toolbar .fc-right .fc-state-default:hover,
.noo-class-schedule .fc-toolbar .fc-left .fc-state-default:focus,
.noo-class-schedule .fc-toolbar .fc-right .fc-state-default:focus {
    background: #800020;
}

.single-noo_class .noo_class .content-meta span,
.noo-class-schedule .fc-view .fc-widget-content .fc-time-grid .fc-time-grid-event .fc-content .fc-trainer {
    color: #800020;
}

.single .hentry .content-wrap ul li:before,
.single-noo_class .noo_class .content-footer #author-bio .view-profile,
.single-noo_class .single-sidebar .class-info-sidebar > div i,
.single-noo_class .single-sidebar .class-info-sidebar > div span,
.single-noo_class .related-class .noo-class-slider-content .noo-class-slider-item .class-slider-content .class-slider-category a {
    color: #800020;
}

.single-noo_class .related-class .slider-indicators a.selected {
    background: #800020;
}

.noo-events .event-info > div i,
.noo-event .event-header .content-meta i,
.noo-event ul li:before,
.noo-event .noo_event_map .event-info > div i,
.noo-event .noo_event_map .noo-pricing-table .event-info > div i {
    color: #800020;
}

.noo-trainers .masonry-filters ul li a.selected,
.noo-trainers .masonry-filters ul li a:hover {
    background: #800020;
    border-color: #800020;
}

.trainer-details .trainer-info .trainer-category:before {
    background: #800020;
}

.trainer-details .trainer-info .view_class,
.trainer-content .content ul li:before {
    color: #800020;
}

.hentry .content-wrap .content-category a,
.widget_class_slider .widget-class-slider-content .noo-class-slider-item .class-slider-content .class-slider-category a {
    color: #800020;
}

.widget_categories ul li a:before {
    color: #800020;
}

.widget_tag_cloud .tagcloud a:hover,
.widget_product_tag_cloud .tagcloud a:hover,
.widget_class_slider .slider-indicators a.selected {
    background: #800020;
}

.shop ul.products li.product figure .product-wrap .product-overlay {
    background: rgba(254, 99, 103, 0.50);
}

.shop ul.products li.product figure .product-wrap .shop-loop-actions a:hover,
.shop ul.products li.product figure .product-wrap .shop-loop-actions a:focus {
    color: #fe6367;
}

.shop .cart .button,
.shop .cart input.button {
    color: #800020;
    border-color: #800020;
}

.shop .cart .button:hover,
.shop .cart input.button:hover {
    background: #800020;
}

.noo-gmaps ~ .contact-info ul li i {
    background: #800020;
}

.shop .star-rating span {
    color: #800020;
}

.product-masonry .masonry-filters ul li a.selected {
    color: #800020;
    border-bottom-color: #800020;
}

.pricing-footer a:hover,
.pricing-footer a:focus {
    background: #800020;
}

.site div.healcode a.hc-button,
.site div.healcode input.hc-button,
.site div.healcode .hc-actions input[type="submit"] {
    background: #800020;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "PT Sans", "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: none;
}

.site div.healcode select {
    font-size: 14px;
}

.navbar-nav > li > a {
    text-transform: uppercase;
}
